<html>
  <a href="?page={{nextPage}}&search={{search}}">next page</a>
  <div>
    <form>
      <label>ip</label>
      <input name="search">
      <input type="submit" value="search"/>
    </form>
  </div>
  <table>
    <tr>
      <th>addr</th>
      <th>timestamp</th>
      <th>path</th>
    </tr>
    {{#each entries}}
      <tr>
        <td>{{addr}}</td>
        <td>{{timestamp}}</td>
        <td>{{path}}</td>
      </tr>
    {{/each}}
  </table>
</html>
