<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{config.title}}</title>
    <meta name="description" content="{{config.description}}">
    <meta name="theme-color" content="{{config.themeColor}}">
    <meta name="color-scheme" content="only light">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
  </head>
  <body>
    <h2>{{config.title}}</h1>
    {{config.about}}

    <ul>
      {{#each config.links}}
        <li><a href="{{href}}">{{text}}</a></li>
      {{/each}}
    </ul>

    <h1>projects</h1>
    {{#each projects}}
      <article>
        <h1>{{name}}</h1>
        <span>{{description}}</span>
      </article>
    {{/each}}
  </body>
</html>
