<html lang="en">
  <head>
    {{> base-head }}

    <title>{{config.title}}</title>
    <meta name="description" content="{{config.description}}">
    <meta name="theme-color" content="{{config.themeColor}}">

    <style>
      body {
        display: grid;
        justify-content: center;
        grid-template-columns: 200px 1000px 200px;
        column-gap: 16px;
        margin-bottom: 200px;
      }

      header {
        grid-row-start: 1;
        grid-column-start: 2;
      }

      main {
        grid-column-start: 2;
        grid-row-start: 2;
      }

      aside {
        grid-row-start: 2;
      }

      aside.left {
        grid-column-start: 1;
      }

      aside.right {
        grid-column-start: 3;
      }

      main > article {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto max-content;
        grid-auto-flow: column;
        row-gap: 16px;
        column-gap: 16px;
      }

      #links {
        display: flex;
        align-items: center;
        justify-content: end;
      }

      #links li {
        margin-left: 16px;
      }

      #highlights > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 16px;
      }

      #highlights .image {
        width: 100%;
      }

      #highlights > ul > li {
        display: flex; /* webkit bug */
      }

      #highlights article {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      #contact li {
        margin-top: 16px;
      }

      #contact li:first-child {
        margin-top: 0;
      }

      #contact a:hover {
        text-decoration: underline;
      }

      {{#each config.contact}}
        #contact-{{id}} {
          display: flex;
          align-items: center;
          padding: 16px;
          border-radius: 6px;
          height: 64px;
          background-color: {{backgroundColor}};
          color: {{textColor}};
        }

        #contact-{{id}} > img {
          margin-right: 16px;
        }
      {{/each}}

      .project-header {
        display: flex;
      }

      {{#each highlights}}
        {{#if project.image}}
          #project-{{project.id}} {
            position: relative;
            grid-row: span 2/span 2;
          }

          #project-{{project.id}} .project-links {
            position: absolute;
            display: flex;
            bottom: 0;
            right: 0;
            justify-content: end;
            width: 100%;
            background-color: transparent;
          }
        {{else}}
          #project-{{project.id}} .project-links {
            display: flex;
            justify-content: end;
          }
        {{/if}}

        {{#each links}}
          #project-link-{{extra.id}} {
            margin-left: 16px;
            display: flex;
            align-items: center;
            border-radius: 6px;
            padding: 8px;
            background-color: {{type.bg_color}};
            color: {{type.fg_color}};
            border: 1px solid {{type.border_color}};
          }

          #project-link-{{extra.id}} > img {
            margin-right: 8px;
          }
        {{/each}}
      {{/each}}

      @media (max-width: 1432px) {
        body {
          grid-template-columns: 1000px;
        }

        header, main {
          grid-column-start: 1;
        }

        aside {
          display: none;
        }
      }

      @media (max-width: 1000px) {
        body {
          grid-template-columns: 100%;
        }
      }

      @media (max-width: 700px) {
        main > article {
          grid-auto-flow: row;
          grid-template-columns: auto;
        }

        #highlights > ul {
          grid-template-columns: auto;
        }
      }
    </style>
  </head>
  <body>
    <header class="indent">
      {{> nav }}
    </header>

    {{#with config.aside}}
      <aside class="left">
        {{#if doRef}}
          <a href="https://www.digitalocean.com/?refcode={{doRef}}&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
            <img width="200" src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge">
          </a>
        {{/if}}
      </aside>

      <aside class="right">
      </aside>
    {{/with}}

    <main>
      <article class="bg indent shadow">
        <h1>{{config.title}}</h1>
        <p>{{config.about}}</p>

        <ul id="links">
          {{#each config.links}}
            <li><a href="{{href}}"><img width="24" alt="{{alt}}" src="{{icon}}"></a></li>
          {{/each}}
        </ul>

        <section id="contact">
          <ul>
            {{#each config.contact}}
              <li>
                {{#if link}}
                  <a id="contact-{{id}}" class="shadow" href="{{link}}">
                    <img width="32" alt="{{alt}}" src="{{icon}}">
                    {{text}}
                  </a>
                {{else}}
                  <div id="contact-{{id}}" class="shadow">
                    <img width="32" alt="{{alt}}" src="{{icon}}">
                    {{text}}
                  </span>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </section>
      </article>

      <section id="highlights">
        <h2 class="indent">{{config.highlightsTitle}}</h2>
        <ul>
          {{#each highlights}}
            <li id="project-{{project.id}}" class="shadow bg">
              <article>
                <div class="indent">
                  <h2>{{project.name}}</h1>
                  <p>{{project.description}}</p>
                </div>
                {{#if project.image}}
                  <img class="image" src="{{project.image}}" alt="Demo screenshot">
                {{/if}}
                <ul class="indent bg project-links">
                  {{#each links}}
                    <li>
                      <a class="shadow" id="project-link-{{extra.id}}" href="{{extra.url}}">
                        <img src="{{type.icon}}" height="24">
                        <span>{{type.short_name}}</span>
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </article>
            </li>
          {{/each}}
        </ul>
      </section>
    </main>
  </body>
</html>
