<html lang="en">
  <head>
    {{> base-head }}

    <title>Projects</title>
    <meta name="description" content="{{config.description}}">
    <meta name="theme-color" content="{{config.themeColor}}">

    <style>
      body {
        width: 1000px;
        margin: 0 auto;
      }

      h2 span {
        display: inline;
        color: #AAAAAA
      }

      header h2 {
        margin-top: 24px;
      }

      .project-title {
        display: flex;
        justify-content: space-between;
      }

      .project-title h2 {
        margin-bottom: 8px;
        flex-shrink: 0;
      }

      article {
        display: flex;
      }

      .project-left {
        flex-grow: 1;
      }

      {{#each projects}}
        #project-{{project.id}} {
          margin-bottom: 16px;
        }

        #project-{{project.id}} ul {
          display: flex;
          align-items: stretch;
          justify-content: end;
          flex-wrap: wrap;
        }

        #project-{{project.id}} > article > img {
          width: 30%;
        }

        {{#each tags}}
          #project-tag-{{extra.id}} {
            display: flex;
            align-items: center;
            line-height: 1.25;
            margin-left: 8px;
            margin-bottom: 8px;
            border-radius: 4px;
            padding: 6px;
            background-color: {{type.bg_color}};
            color: {{type.fg_color}};
            border: 1px solid transparent;
          }
        {{/each}}

        {{#each links}}
          #project-link-{{extra.id}} {
            display: flex;
            margin-left: 8px;
            margin-bottom: 8px;
          }

          #project-link-{{extra.id}} a {
            display: flex;
            align-items: center;
            border-radius: 4px;
            padding: 6px;
            background-color: {{type.bg_color}};
            color: {{type.fg_color}};
            border: 1px solid {{type.border_color}};
          }

          #project-link-{{extra.id}} span {
            line-height: 1.25;
          }

          #project-link-{{extra.id}} img {
            margin-right: 8px;
          }
        {{/each}}
      {{/each}}
    </style>
  </head>
  <body>
    <header class="indent">
      {{> nav }}
      <h2>All projects <span>({{array_length projects}})</span></h2>
    </header>

    <main>
      <ul>
        {{#each projects}}
          <li id="project-{{project.id}}" class="bg shadow">
            <article>
              <div class="project-left indent">
                <div class="project-title">
                  <h2>{{project.name}}</h1>
                  <ul>
                    {{#each tags}}
                      <li id="project-tag-{{extra.id}}">{{type.name}}</li>
                    {{/each}}
                    {{#each links}}
                      <li id="project-link-{{extra.id}}">
                        <a class="shadow" href="{{extra.url}}">
                          <img alt="{{type.short_name}}" src="{{type.icon}}" height="16">
                          <span>{{extra.name}}</span>
                        </a>
                      </li>
                    {{/each}}
                  </ul>
                </div>
                <p>{{project.description}}</p>
              </div>
              {{#if project.image}}
                <img src="{{project.image}}">
              {{/if}}
            </article>
          </li>
        {{/each}}
      </ul>
    </main>
  </body>
</html>
