<html lang="en">
  <head>
    {{> base-head }}

    <title>Projects</title>
    <meta name="description" content="{{config.description}}">
    <meta name="theme-color" content="{{config.themeColor}}">

    <style>
      body {
        width: 1000px;
        margin: 0 auto;
      }

      h2 span {
        display: inline;
        color: #AAAAAA
      }

      header h2 {
        margin-top: 24px;
      }

      .project-title {
        display: flex;
        align-items: center;
      }

      .project-links {
        display: flex;
        margin-top: 8px;
        justify-content: end;
      }

      article {
        display: flex;
      }

      .project-left {
        flex-grow: 1;
      }

      {{#each projects}}
        #project-{{project.id}} {
          margin-bottom: 16px;
        }

        #project-{{project.id}} .bg-space {
          width: 30%;
          background-position: right;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("{{project.image}}");
        }

        {{#each tags}}
          #project-tag-{{extra.id}} {
            line-height: 1;
            margin-left: 8px;
            border-radius: 4px;
            padding: 6px;
            background-color: {{type.bg_color}};
            color: {{type.fg_color}};
          }
        {{/each}}

        {{#each links}}
          #project-link-{{extra.id}} {
            margin-right: 16px;
            display: flex;
            align-items: center;
            border-radius: 6px;
            padding: 8px;
            background-color: {{type.bg_color}};
            color: {{type.fg_color}};
          }

          #project-link-{{extra.id}} > img {
            margin-right: 8px;
          }
        {{/each}}
      {{/each}}
    </style>
  </head>
  <body>
    <header class="indent">
      {{> nav }}
      <h2>All projects <span>({{array_length projects}})</span></h2>
    </header>

    <main>
      <ul>
        {{#each projects}}
          <li id="project-{{project.id}}" class="bg shadow">
            <article>
              <div class="project-left indent">
                <div class="project-title">
                  <h2>{{project.name}}</h1>
                  <ul>
                    {{#each tags}}
                      <li id="project-tag-{{extra.id}}">
                        {{type.name}}
                      </li>
                    {{/each}}
                  </ul>
                </div>
                <p>{{project.description}}</p>
                <ul class="project-links">
                  {{#each links}}
                    <li>
                      <a class="shadow" id="project-link-{{extra.id}}" href="{{extra.url}}">
                        <img alt="{{type.short_name}}" src="{{type.icon}}" height="24">
                        <span>{{extra.name}}</span>
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </div>
              {{#if project.image}}
                <div class="bg-space"></div>
              {{/if}}
            </article>
          </li>
        {{/each}}
      </ul>
    </main>
  </body>
</html>
